[submodule "themes/hugo-coder"]
	path = themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "public"]
	path = public
	url = https://github.com/micheldebree/micheldebree.github.io.git
[submodule "cv"]
	path = cv
	url = https://github.com/micheldebree/cv.git
