<section class="container centered">
  <div class="about">
    <svg xmlns="http://www.w3.org/2000/svg"  viewBox="0 0 600 600" width="120"
                                                                   height="120"><circle cx="300" cy="300" r="299" fill="#c00020"/><path d="M200 75l-100 60v330l100 60V300l100 60v105l100 60V300l-100 60V244l200-109-100-60-100 60z" fill="#fff"/></svg>
    <h1>{{ .Site.Params.author }}</h1>
    <h2>{{ .Site.Params.info }}</h2>
    {{ partialCached "home/social.html" . }}
    <p>{{ .Content }}</p>
  </div>
</section>
